<h2>Nombre: {{ ingredient.name }}</h2>
<p>Calorias: {{ ingredient.calories }}</p>
<p> {% if ingredient.gluten_free %}No lleva gluten{% endif %} </p>
<p> {% if ingredient.is_vegan %}SI es vegano{% endif %} </p>
<img src="{{ ingredient.image }}">

{% load bootstrap_icons %}

<div class="d-flex gap-2 mt-4">

    <a href="{% url 'ingredient_update' ingredient.id %}" 
       class="btn btn-outline-primary"
       title="Editar Ingrediente"> 
        <span>{% bs_icon 'pencil' %}</span>
    </a>

    <form action="{% url 'ingredient_delete' ingredient.id %}" method="post" style="display: inline;"> 
        {% csrf_token %}
        <button class="btn btn-danger" 
                type="submit"
                title="Eliminar Ingrediente"
                onclick="return confirm('¿Estás seguro de que deseas eliminar este ingrediente?');">
            <span>{% bs_icon 'trash' %}</span>
        </button> 
    </form>
    
</div>