<ul class="menu-ul">
    <li class="dropdown">
        <a href="#" class="dropbtn">Querys ▼</a>
        <ul class="dropdown-content">
            <li><a href="{% url 'get_recipe_date' 2025 10 %}">Octubre de 2025</a></li>
            <li><a href="{% url 'get_user_theme' 'dark' %}">Usuarios tema oscuro</a></li>
            <li><a href="{% url 'get_category_recipe' 'servicio' %}">Recetas con categorias...</a></li>
            <li><a href="{% url 'get_last_user_recipe' 15 %}">Ultimo usuario en comentar...</a></li>
            <li><a href="{% url 'recipes_no_comment' %}">Recetas sin comentarios</a></li>
            <li><a href="{% url 'get_user' 14 %}">Datos de usuario y sus recetas</a></li>
            <li><a href="{% url 'get_recipe_ingredient' %}">Recetas con ingrediente "gluten free"</a></li>
            <li><a href="{% url 'get_recipe_name_description' %}">Recetas con título en descripción</a></li>
            <li><a href="{% url 'get_recipe_utensils' %}">Utensilios y estadísticas</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropbtn" >Recetas ▼</a>
        <ul class="dropdown-content">
            <li><a href="{% url 'list_recipes' %}" >Todas las recetas</a></li>
            <li><a href="{% url 'create_recipe' %}" >Crear receta</a></li>
            <li><a href="{% url 'advance_search_recipe' %}" >Busqueda receta</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropbtn">Ingredientes ▼</a>
        <ul class="dropdown-content">
            <li><a href="{% url 'list_ingredient' %}" class="start">Todos los ingredientes</a></li>
            <li><a href="{% url 'create_ingredient' %}" class="start">Crear ingrediente</a></li>
            <li><a href="{% url 'advance_search_ingredient' %}" >Busqueda ingrediente</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropbtn">Utensilios ▼</a>
        <ul class="dropdown-content">
            <li><a href="{% url 'list_utensil' %}" class="start">Todos los utensilios</a></li>
            <li><a href="{% url 'create_utensil' %}">Crear utensilio</a></li>
            <li><a href="{% url 'advance_search_utensil' %}" >Busqueda utensilio</a></li>
           
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropbtn">Categoria ▼</a>
        <ul class="dropdown-content">
            <li><a href="{% url 'list_category' %}" class="start">Todas las categorias</a></li>
            <li><a href="{% url 'create_category' %}">Crear categoria</a></li>
            <li><a href="{% url 'advance_search_category' %}" >Busqueda categoria</a></li>
        
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropbtn" class="end">Etiquetas ▼</a>
        <ul class="dropdown-content">
            <li><a href="{% url 'list_tag' %}" class="start">Todas las etiquetas</a></li>
            <li><a href="{% url 'create_tag' %}">Crear etiqueta</a></li>
            <li><a href="{% url 'advance_search_tag' %}" >Busqueda etiqueta</a></li>
        
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropbtn" class="end">Usuarios ▼</a>
        <ul class="dropdown-content">
            <li><a href="{% url 'list_user' %}" class="start">Todos los usuarios</a></li>
            <li><a href="{% url 'create_user' %}">Crear usuario</a></li>
            <li><a href="{% url 'advance_search_user' %}" >Busqueda usuario</a></li>
        </ul>
    </li>
    
</ul>