<ul class="menu-ul">
    <li class="dropdown">
        <a href="#" class="dropbtn">Querys ▼</a>
        <ul class="dropdown-content">
            <li><a href="{% url 'get_recipe_date' 2025 10 %}">Octubre de 2025</a></li>
            <li><a href="{% url 'get_user_theme' 'dark' %}">Usuarios tema oscuro</a></li>
            <li><a href="{% url 'get_category_recipe' 'servicio' %}">Recetas con categorias...</a></li>
            <li><a href="{% url 'get_last_user_recipe' 15 %}">Ultimo usuario en comentar...</a></li>
            <li><a href="{% url 'recipes_no_comment' %}">Recetas sin comentarios</a></li>
            <li><a href="{% url 'get_user' 14 %}">Datos de usuario y sus recetas</a></li>
            <li><a href="{% url 'get_recipe_ingredient' %}">Recetas con ingrediente "gluten free"</a></li>
            <li><a href="{% url 'get_recipe_name_description' %}">Recetas con título en descripción</a></li>
            <li><a href="{% url 'get_recipe_utensils' %}">Utensilios y estadísticas</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropbtn" class="end">Recetas ▼</a>
        <ul class="dropdown-content">
            <li><a href="{% url 'list_recipes' %}" >Todas las recetas</a></li>
            <li><a href="{% url 'create_recipe' %}" >Crear receta</a></li>
            <li><a href="{% url 'advance_search_recipe' %}" >Busqueda receta</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropbtn" class="end">Ingredientes ▼</a>
        <ul class="dropdown-content">
            <li><a href="{% url 'list_ingredient' %}" class="start">Todas los ingredientes</a></li>
            <li><a href="{% url 'create_ingredient' %}" class="start">Crear ingrediente</a></li>
        </ul>
    </li>
    
</ul>