<div class="container mt-4 text-center">
    <h2>{{ recipe.title|lower }}</h2>
    <p>Descripcion: {{ recipe.description|truncatechars:50 }}</p>
    <p>Autor: {{ recipe.author|capfirst }}</p>
    <p>Categoria:
        {% for cat in recipe.category.all %}
            {{ cat.name|upper }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            Sin categoría
        {% endfor %}
    </p>
    <p>Publicado: {{ recipe.created }}</p>
    <p>Ingredientes: 
        {% for ri in recipe.recipe_ingredient.all %}
        <a href="{% url 'ingredient' ingredient=ri.ingredient.id %}">{{ ri.ingredient.name }}</a> - {{ ri.quantity }}{{ri.unit}}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </p>
    <p>Utensilios: 
        {% for uten in recipe.utensils.all %}
            {{ uten.name }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            Sin utensilios.
        {% endfor %}
    </p>
    <p>Etiquetas:
        {% for tag in recipe.tags.all %}
            {{ tag.name }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            Sin etiquetas.
        {% endfor %}
    </p>

    {% load bootstrap_icons %}

    <div class="d-flex gap-2 mt-4 justify-content-center">

        <a href="{% url 'recipe_update' recipe.id %}" 
        class="btn btn-outline-primary"
        title="Editar Receta"> 
            <span>{% bs_icon 'pencil' %}</span>
        </a>

        <form action="{% url 'recipe_delete' recipe.id %}" method="post" style="display: inline;"> 
            {% csrf_token %}
            <button class="btn btn-danger" 
                    type="submit"
                    title="Eliminar Receta"
                    onclick="return confirm('¿Estás seguro de que deseas eliminar esta receta?');">
                <span>{% bs_icon 'trash' %}</span>
            </button> 
        </form>
        
    </div>
</div>

    




