<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Recetas con categorias que contengan en la descripcion "servicio".</h1>

    {% for recipe in get_text %}
        <p>Receta: {{ recipe.title }}</p>
        <p>Descripción: {{ recipe.description }}</p>
        <p>Categorías:</p>
        <ul>
        {% for cat in recipe.category.all %}
            <li>{{ cat.name }} — {{ cat.description }}</li>
        {% endfor %}
        </ul>
    {% empty %}
        <p>Sin resultados</p>
    {% endfor %}

</body>
</html>