{% extends "principal.html" %}

{% block cabecera %}

{% endblock %}

{% block contenido %}
    {% load django_bootstrap5 %}
    <h1 class="text-center pt-5">Bienvenido a la página de recetas Sírvase Caliente</h1>
    {% if request.user.is_authenticated %}
    <p>
        Fecha inicio: {{ request.session.fecha_inicio }}
    </p>
    <p> {{ request.session.welcome_message1 }}{{ request.session.usuario }} </p>
    <p> {{ request.session.welcome_message2 }} </p>

    {% endif %}
    

{% endblock %}