<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <h1>Listado de consultas</h1>
    <ul>
        <li><a href="{% url 'list_recipes' %}">Todas las recetas</a></li>
        <li><a href="{% url 'get_recipe_date' 2025 10 %}">Recetas de octubre de 2025</a></li>
        <li><a href="{% url 'get_user_theme' 'dark' %}">Usuarios con el tema oscuro</a></li>
        <li><a href="{% url 'get_category_recipe' 'servicio' %}">Recetas con categorias que contengan en la descripcion "servicio".</a></li>
        <li><a href="{% url 'get_last_user_recipe' 15 %}">Ultimo usuario en comentar una receta.</a></li>
        <li><a href="{% url 'recipes_no_comment' %}">Recetas sin comentarios.</a></li>
        <li><a href="{% url 'get_user' 14 %}">Datos de usuario y sus recetas.</a></li>
        <li><a href="{% url 'get_recipe_ingredient' %}">Recetas que contengan un ingrediente "gluten free".</a></li>
        <li><a href="{% url 'get_recipe_name_description' %}">Recetas que contengan en descripcion su título.</a></li>
        <li><a href="{% url 'get_recipe_utensils' %}">Utensilios de cada receta y estadisticas totales.</a></li>
        
    </ul>
</body>
</html>