{% extends "principal.html" %}

{% block cabecera %}
    <h2>Actualizar utensilio</h2>
{% endblock %}

{% block contenido %}

{% load django_bootstrap5 %}

<div class="container mt-4" style="max-width: 700px;">
    <form action="{% url 'user_update' user.id %}" method="post">
        
        {% csrf_token %}

        <div class="mb-4">
            <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label }}: </label>
            <input  name="{{ form.username.html_name }}" 
                    type="text" 
                    class="form-control {% if form.username.errors %} is-invalid{% elif form.is_bound %} is-valid{% endif %}" 
                    id="{{ form.username.id_for_label }}"
                    maxlength="{{ form.username.field.max_length }}"
                    {% if form.username.field.required %}
                        required
                    {% endif %}
                    value="{% spaceless %}
                        {% if form.is_bound%}
                                {{ form.username.value }}
                        {% elif user %}
                                {{ form.username.value }}
                        {% endif %} 
                        {% endspaceless %}"
            />
            {% if form.username.help_text %}
            <div class="form-text">
                {{ form.username.help_text }}
            </div>
            {% endif %}
            <div class="invalid-feedback">
                {% for error in form.username.errors %} 
                    {{ error }}
                {% endfor %}
            </div>
        </div>

        <div class="mb-4">
            <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}: </label>
            <input  name="{{ form.name.html_name }}" 
                    type="text" 
                    class="form-control {% if form.name.errors %} is-invalid{% elif form.is_bound %} is-valid{% endif %}" 
                    id="{{ form.name.id_for_label }}"
                    maxlength="{{ form.name.field.max_length }}"
                    {% if form.name.field.required %}
                        required
                    {% endif %}
                    value="{% spaceless %}
                        {% if form.is_bound%}
                                {{ form.name.value }}
                        {% elif user %}
                                {{ form.name.value }}
                        {% endif %} 
                        {% endspaceless %}"
            />
            {% if form.name.help_text %}
            <div class="form-text">
                {{ form.name.help_text }}
            </div>
            {% endif %}
            <div class="invalid-feedback">
                {% for error in form.name.errors %} 
                    {{ error }}
                {% endfor %}
            </div>
        </div>

        <div class="mb-4">
        <label for="{{ form.bio.id_for_label }}" class="form-label">{{ form.bio.label }}: </label>
        <textarea name="{{ form.bio.html_name }}" 
                  class="form-control {% if form.bio.errors %} is-invalid{% elif form.is_bound %} is-valid{% endif %}" 
                  id="{{ form.bio.id_for_label }}"
                  >{% spaceless %}
                        {% if form.is_bound%}
                            {{ form.bio.value }}
                        {% elif user %}
                            {{ form.bio.value }}
                        {% endif %} 
                        {% endspaceless %}</textarea>
        <div class="invalid-feedback">
            {% for error in form.bio.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

        {% bootstrap_button "Enviar" button_type="submit" button_class="btn-primary" %}
    </form>
</div>
{% endblock %}