<div class="container mt-4 text-center">    
    <h2>Usuario: {{ user.username }}</h2>
    <p>Nombre: {{ user.name }}</p>
    <p>Biografia: {{ user.bio }}</p>
    <p>Se unio el: {{ user.date_joined }}</p>

    {% load bootstrap_icons %}

    <div class="d-flex gap-2 mt-4 justify-content-center">

        <a href="{% url 'user_update' user.id %}" 
        class="btn btn-outline-primary"
        title="Editar Usuario"> 
            <span>{% bs_icon 'pencil' %}</span>
        </a>

        <form action="{% url 'user_delete' user.id %}" method="post" id="form" style="display: inline;"> 
            {% csrf_token %}
            <button type="button" class="btn btn-danger" title="Eliminar Usuario" data-bs-toggle="modal" data-bs-target="#delete">
                <span>{% bs_icon 'trash' %}</span>
            </button>

            <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estas seguro?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">CANCELAR</button>
                            <button type="button"  class="btn btn-danger" id="btnDelete">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
    </div>

</div>