<h2>Nombre: {{ utensil.name }}</h2>
<p>Material: {{ utensil.material }}</p>
<p> {% if utensil.dishwasher_safe %}APTO para el lavavajillas{% else %}NO es apto para lavavajillas{% endif %} </p>

{% load bootstrap_icons %}

<div class="d-flex gap-2 mt-4">

    <a href="{% url 'utensil_update' utensil.id %}" 
       class="btn btn-outline-primary"
       title="Editar Utensilio"> 
        <span>{% bs_icon 'pencil' %}</span>
    </a>

    <form action="{% url 'utensil_delete' utensil.id %}" method="post" style="display: inline;"> 
        {% csrf_token %}
        <button class="btn btn-danger" 
                type="submit"
                title="Eliminar Utensilio"
                onclick="return confirm('¿Estás seguro de que deseas eliminar este utensilio?');">
            <span>{% bs_icon 'trash' %}</span>
        </button> 
    </form>
    
</div>

